
body {
    overflow-x: hidden;
    list-style-type: none;
    font-family: sans-serif;
    background-color: rgb(93, 235, 93);
  }
  @media screen and (min-width: 769px) {
    .navbar {
      justify-content: flex-start;
    }
    .navbar > ul {
      margin-right: 0;
    }
  }
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    size: 10%;
    margin-top: 1%;
    margin-left: 5px;
  }
  .navbar img {
    height: 100px;
  }
  nav li a {
    text-decoration: none;
    color: #111;
    font-weight: 600;
  }
  nav li a:hover {
    color: green;
  }
  .container1 {
    display: flex;
    text-align: center;
  }
  .box1 {
    gap: 30px;
    list-style: none;
    float: right;
    margin-top: 20px;
    display: flex;
    cursor: pointer;
  }
  .icon ion-icon {
    margin-left: 60px;
    font-size: 2rem;
  }
  span {
    color: black;
    font-size: larger;
    padding: 5px;
    font-weight: bold;
  }
  .testimonials {
    background-color: #ccc;
    border: 1px solid black;
    padding: 2rem;
    width: 5rem;
  }
  .endpage {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 4rem;
    background-color: rgb(165, 208, 102);
    padding: 3rem;
  }
  .apps {
    display: block;
    width: 10%;
    height: 60%;
    gap: 2%;
    margin-left: 20%;
  }
  .image2 {
    width: 100%;
    height: 60%;
  }
  .image3 {
    width: 100%;
    height: 60%;
  }
  .fit {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px;
  }
  .box4 img {
    height: 350px;
    width: 350px;
  }
  .box5 img {
    height: 350px;
    width: 350px;
  }
  .box6 img {
    height: 350px;
    width: 350px;
  }
  h2,
  h1 {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .customers {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 2rem;
  }
  .customer img {
    border-radius: 50%;
    margin-top: -1rem;
    margin-left: 3rem;
  }
  .customer3 img {
    width: 50%;
    height: 50%;
    padding: 2rem;
    border-radius: 50%;
  }
  .customer2 img {
    width: 50%;
    height: 50%;
    padding: 2rem;
    border-radius: 50%;
  }
  .customer1 img {
    width: 50%;
    height: 50%;
    padding: 2rem;
    border-radius: 50%;
  }
  .footer {
    margin-top: 3%;
    display: grid;
    /* grid-template-columns */
  }
  
 
  @media screen and (min-width: 769px) {
    .body {
      overflow-x: hidden ;
      list-style-type : none;
      font-family : sans-serif;
     ;
    }
   
    .navbar {
      justify-content: flex-start;
    }
    .navbar > ul {
      margin-right: 0;
    }
  
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    size: 10%;
    margin-top: 1%;
    margin-left: 5px;
  }
  .navbar img {
    height: 100px;
  }
  nav li a {
    text-decoration: none;
    color: #111;
    font-weight: 600;
  }
  nav li a:hover {
    color: green;
  }
  .container1 {
    display: flex;
    text-align: center;
  }
  .box1 {
    gap: 30px;
    list-style: none;
    float: right;
    margin-top: 20px;
    display: flex;
    cursor: pointer;
  }
  .icon ion-icon {
    margin-left: 60px;
    font-size: 2rem;
  }
  span {
    color: black;
    font-size: larger;
    padding: 5px;
    font-weight: bold;
  }
  .testimonials {
    background-color: #ccc;
    border: 1px solid black;
    padding: 2rem;
    width: 5rem;
  }
  .endpage {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 4rem;
    background-color: rgb(165, 208, 102);
    padding: 3rem;
  }
  .apps {
    display: block;
    width: 10%;
    height: 60%;
    gap: 2%;
    margin-left: 20%;
  }
  .image2 {
    width: 100%;
    height: 60%;
  }
  .image3 {
    width: 100%;
    height: 60%;
  }
  .fit {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px;
  }
  .box4 img {
    height: 350px;
    width: 350px;
  }
  .box5 img {
    height: 350px;
    width: 350px;
  }
  .box6 img {
    height: 350px;
    width: 350px;
  }
  h2,
  h1 {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .customers {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 2rem;
  }
  .customer img {
    border-radius: 50%;
    margin-top: -1rem;
    margin-left: 3rem;
  }
  .customer3 img {
    width: 50%;
    height: 50%;
    padding: 2rem;
    border-radius: 50%;
  }
  .customer2 img {
    width: 50%;
    height: 50%;
    padding: 2rem;
    border-radius: 50%;
  }
  .customer1 img {
    width: 50%;
    height: 50%;
    padding: 2rem;
    border-radius: 50%;
  }
  .footer {
    margin-top: 3%;
    display: grid;
    
  }
}
